<div class="hhv-hand {{info.anyActivity}} {{info.playerActivity}}">
  <div class="hhv-header">
    <span class="hhv-bb-sb-ante-max">
      ({{ info.bb }}/{{ info.sb }})
      {{# if info.ante }}
        ({{ info.ante }})
      {{/if}}
      [{{ table.maxseats }}]
    </span>
    <span class="hhv-board">
    {{# if board }}
      {{# if board.card1 }} {{{ board.card1 }}} {{/if}}
      {{# if board.card2 }} {{{ board.card2 }}} {{/if}}
      {{# if board.card3 }} {{{ board.card3 }}} {{/if}}
      {{# if board.card4 }} {{{ board.card4 }}} {{/if}}
      {{# if board.card5 }} {{{ board.card5 }}} {{/if}}
    {{ else }}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{/if}}
    </span>
    {{# if info.day }}
    <span class="hhv-date">
      {{#twodigits}}{{info.month}}{{/twodigits}}/{{#twodigits}}{{info.day}}{{/twodigits}}/{{info.year}}
    </span>
    {{/if}}
    <span class="hhv-date">
      {{#twodigits}}{{info.hour}}{{/twodigits}}:{{#twodigits}}{{info.min}}{{/twodigits}}:{{#twodigits}}{{info.sec}}{{/twodigits}}
    </span>
    <span class="hhv-gameinfo">
      {{# ifvalue info.gametype value="tournament"}} T: {{/ifvalue}}
      {{ info.gameno }}
      G: {{ info.handid }}
    </span>
  </div>
  <div class="hhv-table">
    <table>
      <thead>
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Cards</th>
        <th>M</th>
        <th>Preflop</th>
        <th>Flop</th>
        <th>Turn</th>
        <th>River</th>
      </tr>
      </thead>
      <tbody>
      {{# each players }}
      <tr
        class="hhv-player {{name}}{{#if invested}} invested{{/if}}{{#if sawFlop}} sawFlop{{/if}}"
      >
        <td>{{ pos }}</td>
        <td>{{ name }}</td>
        <td>{{{ cards.card1 }}}{{{ cards.card2 }}}</td>
        <td>{{ m }}</td>
        <td>{{ preflop }}</td>
        <td>{{ flop }}</td>
        <td>{{ turn }}</td>
        <td>{{ river }}</td>
        <td>{{ showdown }}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
